.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    background-color: #E4E6E7;
    border-radius: 12px;
    position: absolute;
    left: -400%;
    top: -300%;
}
.modal__title {
    font-weight: 700;
    font-size: 1em;
    line-height: 22px;
}
.modal__input {
    border: 0;
    border-radius: 8px;
    height: 120px;
    outline: none;
    resize: none;
}

.modal__btn {
    color: white;
    background-color: #081E34;
    border: 0;
    border-radius: 100px;
    font-size: 0.875em;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    padding: 8px 24px;
    cursor: pointer;
}