.menu {
    background-color: #E4E6E7;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 25%;
    position: absolute;
    left: 68%;
    transform: translateY(-38%);
}
.menu-title {
    font-weight: 700;
    font-size: 0.9375em;
    line-height: 22px;
}
.menu input {
    height: 120px;
    outline: none;
    border:none;
    border-radius: 8px;
}
.menu-btn {
    background-color: #081E34;
    color: #FFFBFE;
    border: 0;
    border-radius: 100px;
    width: fit-content;
    padding: 11px 24px;
    font-weight: 700;
    font-size: 1em;
}