.header {
    margin-top: 100px;
}
.title__title {
    font-size: 2.125em;
    font-weight: 700;
    line-height: 38px;
}
.title__sub-title {
    font-size: 1em;
    font-weight: 500;
    line-height: 22px;
    margin-top: 24px;
}