.pager-btn {
    border : 0;
    background-color: #F0F0F0;
    padding: 8px 24px;
    border-radius:100px;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
}
.active-btn {
    background-color: #081E346B;
    color:white;
}
.pager {
    display: flex;
    gap:16px;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}
.add-btn {
    border:0;
    background-color: transparent;
}